@use '@a-ui/core/src/styles/quarks' as *;
@use 'sass:color';

$gravenhof:      #004F59;

:root {
  --brand-1: #{$tropical-rain-forest-600};
  --brand-1-tint: #{$tropical-rain-forest-700};
  --brand-1-alt-tint: #{$tropical-rain-forest-100};

  --brand-2: #{$gravenhof};
  --brand-3-tint: #{color.mix($gravenhof, $black, 20%)};
  --brand-3-alt-tint: #{$tropical-rain-forest-100};

  --brand-3: #{$tangerine-800};
  --brand-3-tint: #{color.mix($gravenhof, $black, 20%)};
  --brand-3-alt-tint: #{$tangerine-100};

  --bg-color: var(--LINK-ALT-TINT);

  --state-selected: #{color.mix($tropical-rain-forest-400, $white, 20%)};
}
