@use '@a-ui/core/src/styles/quarks' as *;
@use 'sass:color';

:root {
  --brand-1: #{$tropical-rain-forest-700};
  --brand-1-tint: #{$tropical-rain-forest-800};
  --brand-1-alt-tint: #{$tropical-rain-forest-100};

  --brand-2: #{$rouge-600};
  --brand-2-tint: #{$rouge-700};
  --brand-2-alt-tint: #{$rouge-100};

  --brand-3: #{$rouge-600};
  --brand-3-tint: #{$rouge-700};
  --brand-3-alt-tint: #{$rouge-100};

  --bg-color: var(--LINK-ALT-TINT);

  --state-selected: #{color.mix($tropical-rain-forest-700, $white, 20%)};
}
